h1 {
    text-align: center;
    color: #1a2537;
    font-size: 60px;
    margin-top: -5px;
}

#centrar{
  
  color: rgb(245,196,60);
  font-size: 40px;
  align-items: center;
}

#negro{
	color: #000;
}

header nav #navbarNav {
    justify-content: flex-end;
}

main nav #navbarNav{
	 text-align: center;

	 }

header nav ul li a {
    padding: 10px 10px;
    display: block;
    color: rgb(245, 196, 60);
    text-decoration: none;
    transition: all .6s;
    font-weight: bold;
}

main nav ul li a {
    padding: 10px 120px;
    display: block;
    color: rgb(245, 196, 60);
    text-decoration: none;
    transition: all .6s;
    font-weight: bold;
  
}


header nav ul li a:hover {
    color: rgb(117, 17, 83);
   transform: scale(1.1);
}


main nav ul li a:hover {
    color: rgb(117, 17, 83);
    transform: scale(0.5);
}

header nav .dropdown-menu .dropdown-item:hover {
    background-color: rgb(117, 17, 83);
    color: #fff;

}

.text-copyRight {
    font-size: small;
    font-style: italic;
    font-weight: 700;
}

.bg-UPT {
    object-fit: cover;
    background-size: cover;
}

.bg-purple {
    background-color: rgb(117, 17, 83);
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}
.p-20{
	padding: 20px;
}
.p-50{
	padding: 50px;
}
.pt-15{
	padding-top: 15px;
}
.pt-10{
	padding-top: 10px;
}
.pt-8{
	padding-top: 8px;
}
.pb-8{
	padding-bottom: 8px;
}
.pt-39{
	padding-top: 39px;
}
.pt-445{
	padding-top: 44.5px; 
}
.pt-56{
	padding-top: 56px;
}
.pt-60{
	padding-top: 60px;
}
.pt-90{
	padding-top: 90px;
}
.pt-120{
	padding-top: 120px;
}
.pb-243{
	padding-bottom: 243px;
}
.pb-248{
	padding-bottom: 248px;
}
.mb-8 {
    margin-bottom: 8px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-80
{
	margin-bottom: 80px;
}
.mb-75
{
	margin-bottom: 75px;
}
.mb-645
{
	margin-bottom: 64.5px;
}
.mb-38
{
	margin-bottom: 38px;
}
.mb-36
{
	margin-bottom: 36px;
}
.mb-17
{
	margin-bottom: 17px;
}
.ml-100{
	margin-left: 200px;
}
.mr-60{
	margin-right: 60px;
}

.formulario{
background: #fff;
margin-top: -15px;
padding: 153.5px;
}


input[type="button"]{

	margin-bottom: 10px;
	border-radius: 5px;
	background-color: rgba(00,80,80,10);
	color:#fff; 
	height: 30px;
	width: 30%;

}
.input-contenedor{
	margin-bottom: 30px;

}
.icon{
	min-width: 50px;
	text-align: center;
	color: #999;
}
.button{
	width: 20%;
	border-radius: 5px;
	font-size: 15px;
	background:#fff;
	margin-bottom: 75px;

	}
 input[type="text"]{
font-size: 12px;
transition: all .6s;
border-radius: 5px;
width: 40%;
padding: 8px;
margin-top: 50px;

}
input[type="password"]{
font-size: 12px;
transition: all .6s;
border-radius: 5px;
width: 40%;
padding: 8px;
margin-bottom: 25px;
}
input:focus{

	border: 1px solid #0099ff;

}
input:hover{
	color:#fff; 
	background-color: rgba(117,17,83,10);
}
.img-box{
	box-shadow: 3px 5px 20px rgba(0,0,0,0.548)   

}
.img-box img{
	transition: 1s;
	height: auto;
	border: 3px solid #fff;	
	overflow: hidden;
}


.img-box img:hover{
transform: scale(1.05);
background-color: rgba(31,31,31,0.7);
-webkit-transition: opacity 0.2;
opacity: 0.5;
}
.buttons{
	margin-left:  -55px;
	object-fit: cover;
	background-size: cover;

}
.buttons .nav-link{
	position: relative;
	
}
.buttons .nav-link a .icon:hover{
	background-color: rgb(59, 89, 152);
	transition: all 400ms ease;
	
}
.buttons .icon{
	background-color: #46515E;
	padding: 5px 13px;
	color: white;
	border-radius: 5px 10px;
	

}
.buttons .nav-link:nth-child(1)  .icon{
	color: #fff;
	background-color: rgb(21,32,95); 

}

.buttons .icon-text{
	position: absolute;
	left: 10px;
	top: -1px;
	z-index: 0;
	width: 0px;
	padding: 5px 0px;
	border-radius: 30px;
	color: white;
	overflow: hidden;
	transition: all 300ms ease;

}
.Name_proyecto{
    width: 10px;
}
.brad-5{
	border-radius: 5px;
}
.form-control-feedback {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.form-control {
  padding-left: 30px;
}


