h1 {
    text-align: center;
    color: #1a2537;
    font-size: 60px;
    margin-top: -5px;
}

header nav #navbarNav {
    justify-content: flex-end;
}

header nav ul li a {
    padding: 10px 10px;
    display: block;
    color: rgb(245, 196, 60);
    text-decoration: none;
    transition: all .6s;
    font-weight: bold;
}

header nav ul li a:hover {
    color: rgb(117, 17, 83);
}

header nav .dropdown-menu .dropdown-item:hover {
    background-color: rgb(117, 17, 83);
    color: #fff;
}

.text-copyRight {
    font-size: small;
    font-style: italic;
    font-weight: 700;
}

.bg-UPT {
    object-fit: cover;
    background-size: cover;
}

.bg-purple {
    background-color: rgb(117, 17, 83);
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.mb-15 {
    margin-bottom: 15px;
}